﻿@inherits LayoutComponentBase

<div class="login-page">
    <div class="w-100 h-100 d-flex justify-content-center align-items-start">
        
        <div class="d-flex w-100 h-100 flex-column justify-content-center align-items-start">
            
            <div class="d-flex w-100 h-25 flex-row justify-content-center align-items-start logo-container">
                @* <img class="w-25" src="/images/logo-icon.png" alt="logo"> *@
            </div>
            
            <div class="d-flex w-100 h-75 flex-row justify-content-center align-items-start">
                @Body
            </div>
            
        </div>

        </div>
</div>