﻿@inherits LayoutComponentBase
@using Bid.WebUI.Pages

<ToastBase />
<AuthorizeView>
    <Authorized>
        <div class="page">
            <div class="main">
                    @Body
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <Login></Login>
    </NotAuthorized>
</AuthorizeView>
