﻿.button{
    cursor: pointer;
    outline: none;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: var(--font-primary-weight);
    padding: 0.75rem 1.5rem;
    transition: var(--defualt-animation);
    background: transparent;
    border: none;
    border-radius: var(--component-border-radius);
    margin-right: 1rem;
    min-width: 12rem;
}

.button.edit-button{
    padding: 1rem;
    width: 48px;
    height:  48px;
    background-color: var(--component-active-color);
    border-radius: 50%;
    background-image: url("../../images/edit.svg");
    background-repeat: no-repeat;
    background-position: 12px;
    transition: var(--defualt-animation);
    min-width: unset;
    box-shadow: var(--button-edit-shadow);
}
.button.qr-code{
    padding: 1rem;
    width: 48px;
    height:  48px;
    background-color: #E5E5E5;
    border-radius: 14px;
    background-image: url("../../images/qr-preview.svg");
    background-repeat: no-repeat;
    background-position: center;
    transition: var(--defualt-animation);
    min-width: unset;
    margin-right: 0;
    margin-left: 1rem;
}
.button:hover{
    opacity: 0.8;
    text-decoration: none;
}
.button:focus{
    outline: none!important;
}
.button.long{
    width: 100%;
}
.button.edit-button:hover{
    opacity: 0.9;
}

.button.button-primary{
    background: var(--component-active-color);
    box-shadow: var(--component-active-shadow);
    color: var(--font-active-button-color);
}
.button.button-secondary{
    background: var(--button-secondary-color);
    box-shadow: var(--button-secondary-shadow);
    color: var(--font-secondary-button-color);
}

.button.button-secondary.disabled{
    background: var(--component-disabled-color);
    box-shadow: var(--button-secondary-shadow);
    color: var(--font-active-button-color);
}
.button.button-primary.disabled{
    background: var(--component-disabled-color);
    box-shadow: var(--button-secondary-shadow);
    color: var(--font-active-button-color);
}
.button.button-primary.disabled:hover{
    opacity: 1;
}


.add-link{
    height: 24px;
    display: inline-flex;
    align-items: center;
}
.add-button .disabled{
    opacity: 0.5;
    cursor: default;
}

.dot{
    display: inline-block;
    border-radius: 50%;
    width: 0;
    height: 1px;
    border: 3px solid black;
    margin-right: 5px;
    margin-bottom: 2px;
}
.dot.green-dot{
    border-color: #83BD67;
}
.dot.red-dot{
    border-color: rgba(255, 0, 0, 0.84);
    background-color:  rgba(255, 0, 0, 0.84);
}
.dot.blue-dot{
    border-color: var(--component-active-color);;
    background-color:  var(--component-active-color);
;
}
.dot.orange-dot{
    border-color: rgba(247, 147, 26, 1);
    background-color:rgba(247, 147, 26, 1);
}
.icon-lock{
    display: inline-block;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    background-size: contain;
}
.icon-lock.closed{
    background-image: url("../../images/close-lock.svg");
}
.icon-lock.open{
    background-image: url("../../images/open-lock.svg");
}
.button.context{
    width: 48px;
    min-width: unset;
    height: 48px;
    background-color: var(--button-secondary-color);
    background-image: url("../../images/context.svg");
    background-repeat: no-repeat;
    background-position: center ;
}