﻿.checkbox-custom {
    width: fit-content;
    display: flex;
    height: 24px;
    margin: 0 0 0 0;
    line-height: 28px;
    position: relative;
    vertical-align: middle;
    font-size: 14px;
    user-select: none;
}
.checkbox-custom .text {
    padding-left: 10px;
    position: relative;
    top: -3px;
}
.checkbox-custom .checkbox-custom-switch {
    display: inline-block;
    width: 48px;
    height: 24px;
    border-radius: 24px;
    position: relative;
    vertical-align: top;
    background: #E0E0E0;
    transition: .2s;
}
.checkbox-custom .checkbox-custom-switch:before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    background: #fff;
    border-radius: 50%;
    transition: .15s;
}
.checkbox-custom input[type=checkbox] {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.checkbox-custom input[type=checkbox]:checked + .checkbox-custom-switch {
    background: var(--component-border-color);
    border:1px solid darkgray;
}
.checkbox-custom input[type=checkbox]:checked + .checkbox-custom-switch:before {
    background: var(--component-active-color);
    transform:translateX(24px);
    box-shadow: var(--component-active-shadow);
}

/* Hover */
.checkbox-custom input[type="checkbox"]:not(:disabled) + .checkbox-custom-switch {
    cursor: pointer;
    border: 1px solid darkgray;
}

/* Disabled */
.checkbox-custom input[type=checkbox]:disabled + .checkbox-custom-switch {
    filter: grayscale(60%);
    border-color: rgba(0, 0, 0, .1);
}
.checkbox-custom input[type=checkbox]:disabled + .checkbox-custom-switch:before {
    background: #eee;
}