﻿:root{
    /* background */
    --layout-background: #F1F3F8;
    --component-primary-background-color: #FFFFFF;
    --component-secondary-background-color: #DADADA;
    --component-primary-hover-background-color: rgba(235, 247, 248, 1);

    --component-border-radius: 10px;
    --component-border: 1px solid;
    --component-border-color:  rgba(0, 0, 0, 0);
    --component-border-hover-color:  rgba(74, 171, 164, 1);
    --component-active-color:  #4AABA4;
    --component-disabled-color:  #E5E5E5;
    --button-secondary-color:  rgba(216, 238, 241, 1);

    /* animation*/
    --defualt-animation:  all 0.15s ease-in-out;
    --tab-animation:  all 0.15s ease-in-out;

    /* fonts */
    --font-primary-color: rgba(0, 0, 0, 1);
    --font-primary-weight: 700;
    --font-primary-size: 16px;
    --font-secondary-color: rgba(0, 0, 0, 0.5);
    --font-active-button-color: #FFFFFF;
    --font-secondary-button-color: rgba(74, 171, 164, 1);

    /* components */
    --tab-active-background-color: #FFFFFF;
    --tab-inactive-background-color: rgba(100, 169, 163, 0.3);
    --input-font-weight: 400;

    /*  header  */
    --header-primary-background-color: #FFFFFF00;
    
    /* shadow*/
    --component-active-shadow: 0 2px 6px rgba(74, 171, 164, 0.3);
    --button-secondary-shadow: 0px 2px 6px rgba(216, 238, 241, 0.5);
    --button-edit-shadow:0 2px 6px rgba(74, 171, 164, 0.3);
}