.base-input-container{
    height: 72px;
    width: calc(50% - 15px);
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: top;
}
.base-input-container.long{
    width: 100%;
    margin: 0;
    position: relative;
}
.base-input-container.small{
    width: 250px;
}
.base-input {
    --pure-material-safari-helper1: var(--component-border-hover-color);
    position: relative;
    display: inline-block;
    padding-top: 6px;
    font-size: var(--font-primary-size);
    font-weight: var(--input-font-weight);
    line-height: 1.5;
    overflow: hidden;
    width: 100%;
    border-radius: var(--component-border-radius);
    margin-bottom: auto;
}

/* Input, Textarea */
.base-input > input,
.base-input > select,
.base-input > textarea,
.store-detail__main-block .base-input > div{
    box-sizing: border-box;
    margin: 0;
    border: solid 1px #A1A1A1; 
    border-top-color: transparent;
    border-radius: var(--component-border-radius);
    padding: 8px 13px 8px;
    width: 100%;
    height: inherit;
    background-color: transparent;
    box-shadow: none; /* Firefox */
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: none;
    transition: border 0.2s, box-shadow 0.2s;
}

/* Span */
.base-input > input + span,
.base-input > select + span,
.base-input > textarea + span,
.store-detail__main-block .base-input > div + span{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    border-color: #A1A1A1;
    width: 100%;
    max-height: 100%;
    font-size: 75%;
    line-height: 15px;
    cursor: text;
    transition: color 0.2s, font-size 0.2s, line-height 0.2s;
}

/* Corners */
.base-input > input + span::before,
.base-input > input + span::after,
.base-input > select + span::before,
.base-input > select + span::after,
.base-input > textarea + span::before,
.base-input > textarea + span::after,
.store-detail__main-block .base-input > div + span::before,
.store-detail__main-block .base-input > div + span::after{
    content: "";
    display: block;
    box-sizing: border-box;
    margin-top: 6px;
    border-top: solid 1px;
    border-top-color: #A1A1A1;
    min-width: 10px;
    height: 14px;
    pointer-events: none;
    box-shadow: inset 0 1px transparent;
    transition: border-color 0.2s, box-shadow 0.2s;
}

.base-input > input + span::before,
.base-input > select + span::before,
.base-input > textarea + span::before,
.store-detail__main-block .base-input > div + span::before {
    margin-right: 4px;
    border-left: solid 1px transparent;
    border-radius: var(--component-border-radius) 0;
}

.base-input > input + span::after,
.base-input > select + span::after,
.base-input > textarea + span::after,
.store-detail__main-block .base-input > div + span::after {
    flex-grow: 1;
    margin-left: 4px;
    border-right: solid 1px transparent;
    border-radius: 0 var(--component-border-radius);
}
.base-input select{
    height: 42px;
}
/* Hover */
.base-input:hover > input,
.base-input:hover > select,
.base-input:hover > textarea,
.store-detail__main-block .base-input:hover > div {
    border-color: #A1A1A1;
    border-top-color: transparent;
}

.base-input:hover > input + span::before,
.base-input:hover > textarea + span::before,
.base-input:hover > input + span::after,
.base-input:hover > textarea + span::after,
.store-detail__main-block .base-input:hover > div + span::after {
    border-top-color: #A1A1A1;
}
/*.store-detail__main-block .base-input:hover > div + span::before,*/
/*.store-detail__main-block .base-input:hover > div + span::after{*/
/*    border-top-color: var(--component-border-hover-color);*/
/*}*/
.base-input:hover > input:not(:focus):placeholder-shown,
.base-input:hover > textarea:not(:focus):placeholder-shown,
.store-detail__main-block .base-input:hover > div:not(:focus):placeholder-shown {
    border-color: #A1A1A1;
}

/* Placeholder-shown */
.base-input > input:not(:focus):placeholder-shown,
.base-input > textarea:not(:focus):placeholder-shown,
.store-detail__main-block .base-input > div:not(:focus):placeholder-shown {
    border-top-color: #A1A1A1;
}

.base-input > input:not(:focus):placeholder-shown + span,
.base-input > textarea:not(:focus):placeholder-shown + span,
.store-detail__main-block .base-input > div:not(:focus):placeholder-shown + span {
    font-size: inherit;
    line-height: 52px;
}

.base-input > input:not(:focus):placeholder-shown + span::before,
.base-input > textarea:not(:focus):placeholder-shown + span::before,
.store-detail__main-block .base-input > div:not(:focus):placeholder-shown + span::before,
.base-input > input:not(:focus):placeholder-shown + span::after,
.base-input > textarea:not(:focus):placeholder-shown + span::after,
.store-detail__main-block .base-input > textarea:not(:focus):placeholder-shown + span::after {
    border-top-color: transparent;
}

/* Focus */
.base-input > input:focus,
.base-input > select:focus,
.base-input > textarea:focus,
.store-detail__main-block .base-input > div:focus {
    border-color: var(--component-border-hover-color);
    border-top-color: transparent;
    outline: none;
}

.base-input > input:focus + span,
.base-input > select:focus + span,
.base-input > textarea:focus + span,
.store-detail__main-block .base-input > div:focus + span {
    color: var(--component-border-hover-color)
}

.base-input > select:focus + span::before,
.base-input > select:focus + span::after,
.base-input > input:focus + span::before,
.base-input > input:focus + span::after,
.base-input > textarea:focus + span::before,
.base-input > textarea:focus + span::after,
.store-detail__main-block .base-input > div:focus + span::before,
.store-detail__main-block .base-input > div:focus + span::after {
    border-top-color: var(--pure-material-safari-helper1) !important;
}

/* Disabled */
.base-input > input:disabled,
.base-input > input:disabled + span,
.base-input > textarea:disabled,
.base-input > textarea:disabled + span {
    border-color: #A1A1A1 !important;
    border-top-color: transparent !important;
    color: #A1A1A1;
    pointer-events: none;
}
.base-input > input:disabled,
.base-input > textarea:disabled{
 background-color: #F2F2F2 !important;   
}
.base-input > input:disabled + span::before,
.base-input > input:disabled + span::after,
.base-input > textarea:disabled + span::before,
.base-input > textarea:disabled + span::after {
    border-top-color: #A1A1A1 !important;
}

.base-input > input:disabled:placeholder-shown,
.base-input > input:disabled:placeholder-shown + span,
.base-input > textarea:disabled:placeholder-shown,
.base-input > textarea:disabled:placeholder-shown + span {
    border-top-color: #A1A1A1 !important;
}

.base-input > input:disabled:placeholder-shown + span::before,
.base-input > input:disabled:placeholder-shown + span::after,
.base-input > textarea:disabled:placeholder-shown + span::before,
.base-input > textarea:disabled:placeholder-shown + span::after {
    border-top-color: transparent !important;
}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 2) {
    .base-input > input:disabled+span::after,
    .base-input > input:disabled+span::before {
        border-color: #dbdbdb !important;
    }
}

/* error */

.base-input .validation-message{
    font-size: 13px;
    color: #EB5757;
    line-height: 13px;
    margin-left: 5px;
}
.validation-message{
    font-size: 13px;
    color: #EB5757;
    line-height: 12px;
}
.base-input > input.invalid{
    border-color: #EB5757!important;
}
.base-input > input.invalid:focus
{
    border-top-color: transparent!important;
}

.base-input > input.invalid + span{
    color: #EB5757!important;
}
.base-input > input.invalid + span::before,
.base-input > input.invalid + span::after,
.base-input > textarea.invalid + span::before,
.base-input > textarea.invalid + span::after,
.base-input > input.invalid:not(:focus):placeholder-shown,
.base-input > textarea.invalid:not(:focus):placeholder-shown {
    border-top-color: #EB5757!important;
}


.base-input > input.invalid:not(:focus),
.base-input > textarea.invalid:not(:focus) {
    border-top-color: transparent!important;
}

.base-input-no-label input{
    box-sizing: border-box;
    margin: 0;
    border: solid 1px #A1A1A1;
    border-radius: var(--component-border-radius);
    padding: 8px 13px 8px;
    width: 100%;
    height: inherit;
    background-color: transparent;
    box-shadow: none; /* Firefox */
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: none;
    transition: border 0.2s, box-shadow 0.2s;
}

.base-input-no-label input:focus{
    border-color: var(--component-active-color)!important;
}


.date-filter {
    display: flex;
}

 .date-container {
    display: flex;
}
 
.date-input {
    margin: 0.25rem;
    align-items: center;
    display: flex;
}

.date-input label{
    margin: 0 !important;
}

.date-filter .date-container input[type="datetime-local"]::-webkit-clear-button {
    display: none;
}
.date-filter .date-container input[type="datetime-local"]::-webkit-inner-spin-button {
    display: none;
}
.date-filter .date-container input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    color: #2c3e50;
}
.date-filter .date-container input[type="datetime-local"] {
    appearance: none;
    color: #95a5a6;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    border: 1px solid #ecf0f1;
    border-radius: 10px;
    background: #ecf0f1;
    padding: 5px;
    margin: 5px;
    display: inline-block !important;
    visibility: visible !important;
}

.form-group > .validation-message {
    color: red;
    position: fixed;
    transform: translateY(2.1em) translateX(4rem);
}