@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('defaults.css');
@import url('form.css');
@import url('buttons.css');
@import url('table.css');
@import url('toast.css');
@import url('timer.css');
@import url('checkbox.css');
@import url('bill.css');

html, body, text {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-user-select:none!important;
    -moz-user-select:none!important;
    user-select:none!important
}

body{
    background-color: #f8f8f8;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.valid.modified:not([type=checkbox]) {
    /*outline: 1px solid #26b050;*/
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.login-page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f3f8;
    background-image: url("../images/login-background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.login-page .login-container{
    max-width: 460px;
    max-height: 400px;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: var(--component-border-radius);
    padding: 2rem 5rem;
}

.login-page .login-header{
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 2rem;
    text-align: center;
}
.login-page .base-input-container{
    margin-left: 0;
    margin-right: 0;
}
.login-page .login-footer{
    border-top: 1px solid #E0E0E0;
    width: 100%;
    text-align: center;
    padding-top: 1rem;
    margin-top: 2rem;
}
.login-page .icheck-primary{
    margin-bottom: 1rem!important;
}
.logo-container{
    background-image: url('../images/logo-icon.png');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.img-thumbnail {
    width: calc( 200px + 1rem );
    height: calc( 200px + 1rem );
    border-radius: 10px;
    padding: 1rem;
    object-fit: contain;
}

.content {
    padding: 1.5rem 2.5rem;
}
.bid-page{
    font-size:40px;
}
.w-45{
    width: 45% !important;
}
.w-55{
    width: 55% !important;
}
.w-70{
    width: 70% !important;
}
.no-data{
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    font-family: Nunito,sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: center;
}