.table-custom {
    border-radius: 10px;
    height: calc(100vh - 9.25rem - 133px);
    cursor: default;
    position: relative;
    background: #fff;
    width: 100%;
    box-shadow: transparent 0 0 0 0, transparent 0 0 0 0, rgb(0 0 0 / 16%) 1px 1px 5px 0;
}

.settings{
    height: 30vh !important;
}

.table-custom-body{
    overflow: auto;
}

.table-custom-body::-webkit-scrollbar-track
{
    border-radius: 10px;
}

.table-custom-body::-webkit-scrollbar
{
    width: 5px;
}

.table-custom-body::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #aaa;
}

.input-group-search{
    line-height: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-radius: 0.25rem;
    border: none;
    padding: 0.5rem 1rem;
    color: #555;
    width: 100%;
}

.input-group-search .btn{
    position: absolute;
    margin: 0!important;
    padding: 0.5rem;
    top: 3.6rem;
    right: 4rem;
    color: #555;
    text-decoration: none;
}

.table-custom-footer {
    height: 78px;
    color: #444;
    padding-right: 16px;
    padding-left: 16px;
    position: relative;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    box-shadow: transparent 0 0 0 0, transparent 0 0 0 0, rgb(0 0 0 / 16%) 1px 1px 5px 0;
}

.table-custom-footer .footer-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.table-custom-footer .show-items-counter {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
}

.show-items-counter select {
    padding: 0.5rem 1.25rem;
    border: 1px solid #555;
    border-radius: 9999px;
    outline: 0;
}

.table-custom-footer .pager-table {
    display: flex;
    overflow-x: auto;
    padding-bottom: 5px;
    margin-top: 5px;
}

.table-custom-footer .pager-table .btn {
    box-shadow: none;
    height: 34px;
    width: 34px;
    font-size: .75rem;
    margin-right: 0.4rem;
    padding: 0.5rem;
    -webkit-box-pack: center;
    justify-content: center;
}

.c-pointer {
    cursor: pointer;
}

.action{
    width: 15rem;
}