.base-timer {
    position: relative;
    height: 300px;
    width: 300px;
}

/* Removes SVG styling that would hide the time label */
.base-timer__circle {
    fill: none;
    stroke: none;
}

.base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: grey;
}.base-timer {
     position: relative;
     width: 300px;
     height: 300px;
 }

.base-timer__svg {
    transform: scaleX(-1);
}

.base-timer__circle {
    fill: none;
    stroke: none;
}
.base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: grey;
}

.base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
}

.base-timer__path-remaining.green {
    color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
    color: orange;
}

.base-timer__path-remaining.red {
    color: red;
}

.base-timer__image{
    position: absolute;
    width: 200px;
    height: 200px;
    top: 16.5%;
    left: 16.5%;
    border-radius: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
}


.base-timer__label {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 4rem;
    display: flex;
    align-items: end;
    justify-content: center;
    font-size: 40px;
    transform: rotateY(180deg)
}