﻿<div class="invoice-box">
	<table>
		<tr class="top">
			<td colspan="2">
				<table>
					<tr>
						<td class="title">
							<img src="./images/logo-icon.png" alt="" style="width: 100%; max-width: 150px" />
						</td>

						<td>
							Created: @Bill.Date<br />
						</td>
					</tr>
				</table>
			</td>
		</tr>
		
		<tr class="heading">
			<td>Item</td>

			<td>Price</td>
		</tr>

		<tr class="item">
			<td>@Bill.ItemName</td>

			<td>@Bill.Bid</td>
		</tr>
		
		<tr class="total">
			<td></td>

			<td>Total: @Bill.Bid</td>
		</tr>
	</table>
</div>
