﻿<div class="simple-form">
    <EditForm Model=@Model OnSubmit="SaveItem">
        <DataAnnotationsValidator/>
        <div class="form-group d-flex flex-row justify-content-center align-items-center w-100">
            <label for="item-name" class="d-flex w-50 justify-content-start mt-2">Name</label>
            <input @bind="@Model.Name" type="text" class="form-control w-50" id="item-name" />
            <ValidationMessage For="() => Model.Name"></ValidationMessage>
        </div>
        
        <div class="form-group d-flex flex-row justify-content-center align-items-center w-100">
            <label for="item-description" class="d-flex w-50 justify-content-start mt-2">Description</label>
            <input @bind="@Model.Description" type="text" class="form-control w-50" id="item-description" />
            <ValidationMessage For="() => Model.Description"></ValidationMessage>
        </div>

        <div class="form-group d-flex flex-row justify-content-center align-items-center w-100">
            <label for="price" class="d-flex w-50 justify-content-start mt-2">Price</label>
            <input @bind="@Model.Price" type="number" step="1" class="form-control w-50" id="price" />
            <ValidationMessage For="() => Model.Price"></ValidationMessage>
        </div>

        <div class="form-group d-flex flex-row justify-content-center align-items-center w-100 date-filter">
            <div class="date-container w-100">
                    <label for="start" class="d-flex w-45 justify-content-start mt-2 mr-3">Auction active from:</label>
                    <input type="datetime-local" class="w-55"  id="start" min="@DateTime.Now.ToString("M/dd/yyyy HH:mm")" @bind-value="@Model.StartedAt">
            </div>
        </div>
        
        <div class="form-group d-flex flex-row justify-content-center align-items-center w-100 date-filter">
            <div class="date-container w-100">
                    <label for="start" class="d-flex w-45 justify-content-start mt-2 mr-3">Auction active to:</label>
                    <input type="datetime-local" class="w-55" id="end" min="@Model.StartedAt.ToString("M/dd/yyyy HH:mm")" max="@DateTime.MaxValue.ToString("M/dd/yyyy HH:mm")" @bind-value="@Model.EndedAt">
            </div>
        </div>
        
        <div class="form-group d-flex flex-column  justify-content-center align-items-center">
            <div class="text-center mt-2 justify-content-center align-items-center" style="height: 150px; max-width: 300px;">
                <img src="@ItemImage" class="img-thumbnail" alt="" style="height: 100%; width: 100%; max-width: 250px;">
            </div>
             <div class="d-flex justify-content-end align-items-end mt-1 mr-3">
                <label class="fa fa-pencil-alt text-black-50 mb-3" aria-hidden="true" style="cursor:pointer;">
                    <span style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight:normal;">Choose Image</span>
                    <InputFile OnChange="HandleFileSelected" hidden="hidden" accept="image/jpeg,image/png,image/jpg"/>
                </label>
            </div>
        </div>

        <div class="modal-footer d-flex justify-content-end">
            <button class="btn btn-secondary uppercase" type="button" style="margin-right: 15px" @onclick="() => CancelModal()">
               Cancel
            </button>
            <button class="btn btn-info ml-2 text-right uppercase" type="submit">
                Save
            </button>
        </div>
    
    </EditForm>
</div>