﻿@using Bid.Domain.ViewModels
@using Bid.Domain.Enums
<div class="simple-form" style="width: 50vw;">
    <EditForm Model=@UserSettings OnSubmit="UpdateSettings">
        <DataAnnotationsValidator/>
        <div class="form-group d-flex justify-content-center w-100">
            <label for="maxBid" class="mt-2 mr-3">Maximum bid amount</label>
            <input @bind="@UserSettings.MaximumBid" type="text" class="form-control w-25" id="maxBid" />
            <ValidationMessage For="() => UserSettings.MaximumBid"></ValidationMessage>
        </div>

        <div class="form-group d-flex justify-content-center w-100">
            <label for="alertPercent" class="mt-2 mr-2">Bid alert notification,%</label>
            <input @bind="@UserSettings.BidAlertPercent" type="number" step="1" class="form-control w-25" id="alertPercent"/>
            <ValidationMessage For="() => UserSettings.BidAlertPercent"></ValidationMessage>
        </div>
        
        <div class="modal-footer d-flex justify-content-center w-100">
            <button class="btn btn-info w-25 uppercase" type="submit">
                Update
            </button>
        </div>
    </EditForm>
    <div class="table-custom settings card">
          <div class="table-custom-header d-flex justify-content-between mt-1 ml-3">
              <h3>Bids history</h3>
          </div>   
        <div class="table-custom-body">
            <table class="table" role="grid">
                <tr>
                    <th scope="col"  @onclick="() => OrderClick(nameof(BidViewModel.ItemName))">
                        Item name
                        @if (OrderPropertyName.Equals(nameof(BidViewModel.ItemName)))
                        {
                            <i class="fas @(OrderByDesc ? "fa-long-arrow-alt-up" : "fa-long-arrow-alt-down")"></i>
                        }
                    </th>
                    <th scope="col"  @onclick="() => OrderClick(nameof(BidViewModel.Bid))">
                        Bid
                        @if (OrderPropertyName.Equals(nameof(BidViewModel.Bid)))
                        {
                            <i class="fas @(OrderByDesc ? "fa-long-arrow-alt-up" : "fa-long-arrow-alt-down")"></i>
                        }
                    </th>
                    <th scope="col" class="clickable-header" @onclick="() => OrderClick(nameof(BidViewModel.Date))">
                        Date
                        @if (OrderPropertyName.Equals(nameof(BidViewModel.Date)))
                        {
                            <i class="fas @(OrderByDesc ? "fa-long-arrow-alt-up" : "fa-long-arrow-alt-down")"></i>
                        }
                    </th>
                    <th scope="col" class="clickable-header" @onclick="() => OrderClick(nameof(BidViewModel.Status))">
                        Status
                        @if (OrderPropertyName.Equals(nameof(BidViewModel.Status)))
                        {
                            <i class="fas @(OrderByDesc ? "fa-long-arrow-alt-up" : "fa-long-arrow-alt-down")"></i>
                        }
                    </th>
                    <th scope="col">
                        Bill
                    </th>
                </tr>

                <tbody>
                @foreach (var item in Bids)
                {
                    <tr class="c-pointer">
                        <td>@item.ItemName</td>
                        <td>@item.Bid</td>
                        <td>@item.Date.ToString("M/dd/yyyy HH:mm")</td>
                        <td>@item.Status</td>
                        @if (item.Status == BidStatus.Won)
                        {
                            <td>
                                <a @onclick="@(() => ShowBill(item))" class="btn btn-link py-0 text-secondary text-decoration-none">
                                    Show bill
                                </a>
                            </td>
                        }
                        else
                        {
                            <td>Not available</td>
                        }
                    </tr>
                }
                </tbody>
            </table>
            @if (Bids.Count == 0)
            {
                <div class="no-data d-block" style="left: 45% !important;">
                    No items yet
                </div>
            }
      </div>
    </div>


</div>