﻿<div class="footer-wrapper">
    <div class="pager-table">
        <button type="button" class="btn btn-sm @(PagedInfo.CurrentPage == 1 ? "active": "")" @onclick="@(() => PagerButtonClicked(1))">1</button>
        @if (PagedInfo.CurrentPage <= 3)
        {
            var end = PagedInfo.PageCount > 4 ? 4 : PagedInfo.PageCount - 1; 
            for (int i = 2; i <= end; ++i)
            {
                var currentIndex = i;
                <button type="button" class="btn btn-sm @(i == PagedInfo.CurrentPage ? "active": "")" @onclick="@(() => PagerButtonClicked(currentIndex))">@currentIndex</button>
            }
            if (end < PagedInfo.PageCount - 1)
            {
                <button type="button" disabled class="btn btn-sm" >...</button>
            }
        }
        else if (PagedInfo.CurrentPage >= PagedInfo.PageCount - 2)
        {
            var begin = PagedInfo.PageCount - 3 <= 1 ? 2 : PagedInfo.PageCount - 3;
            if (begin > 2)
            {
                <button type="button" disabled class="btn btn-sm">...</button>
            }
            for (int i = begin; i < PagedInfo.PageCount; ++i)
            {
                var currentIndex = i;
                <button type="button" class="btn btn-sm @(i == PagedInfo.CurrentPage ? "active" : "")" @onclick="@(() => PagerButtonClicked(currentIndex))">@currentIndex</button>
            }
        }
        else
        {
            <button type="button" disabled class="btn btn-sm" >...</button>
            <button type="button" class="btn btn-sm" @onclick="@(() => PagerButtonClicked( PagedInfo.CurrentPage - 1 ))">@(PagedInfo.CurrentPage - 1)</button>
            <button type="button" class="btn btn-sm active" @onclick="@(() => PagerButtonClicked( PagedInfo.CurrentPage))">@PagedInfo.CurrentPage</button>
            <button type="button" class="btn btn-sm" @onclick="@(() => PagerButtonClicked( PagedInfo.CurrentPage + 1))">@(PagedInfo.CurrentPage + 1)</button>
            <button type="button" disabled class="btn btn-sm" >...</button>
        }
        @if (PagedInfo.PageCount > 1)
        {
            <button type="button" class="btn btn-sm @(PagedInfo.PageCount == PagedInfo.CurrentPage ? "active" : "")" @onclick="@(() => PagerButtonClicked(PagedInfo.PageCount))">@PagedInfo.PageCount</button>

        }
    </div>
    
    
    @if (IsShowLeftBlock)
    {
        <div class="show-items-counter p-5">
                @{
                    FirstIndexItem = PagedInfo.CurrentPage == 1
                        ? (PagedInfo.TotalItems == 0 ? 0 : 1)
                        : ((PagedInfo.CurrentPage - 1) * PagedInfo.PageSize) + 1;
            
                    if (PagedInfo.TotalItems <= PagedInfo.PageSize)
                    {
                        LastIndexItem = PagedInfo.TotalItems;
                    }
                    else if (PagedInfo.TotalItems <= (PagedInfo.PageSize * PagedInfo.CurrentPage))
                    {
                        LastIndexItem = PagedInfo.TotalItems;
                    }
                    else
                    {
                        LastIndexItem = PagedInfo.PageSize * PagedInfo.CurrentPage;
                    }
                }
                Displaying @FirstIndexItem - @(PagedInfo.TotalItems <= PagedInfo.PageSize ? PagedInfo.TotalItems : LastIndexItem) of @PagedInfo.TotalItems items
            <div class="p-5">
                <select @onchange="@OnChangePageSize">
                    <option selected="@(PagedInfo.PageSize == 5)" value="5">5</option>
                    <option selected="@(PagedInfo.PageSize == 10)" value="10">10</option>
                    <option selected="@(PagedInfo.PageSize == 25)" value="25">25</option>
                    <option selected="@(PagedInfo.PageSize == 50)" value="50">50</option>
                </select>
            </div>
        </div>
    }
</div>