﻿@page "/BidPage/{ItemId}"
@using Bid.Domain.Models

<div class="bid-page d-flex flex-row justify-content-center align-items-start">
    <div class="d-flex mt-4">
        <a @onclick="@(() => BackToHome())" class="btn btn-link py-0 text-secondary text-decoration-none c-pointer">
            <i class="las la-2x la-arrow-left"></i>
        </a>
    </div>
    <div class="flex-column d-flex justify-content-center align-items-center">
        <div>@ItemModel.Name</div>
        <div id="app"></div>

        <div class="d-flex flex-column" style="margin-top: 5rem; font-size: 20px;">
            <div class="d-flex flex-row justify-content-between align-items-center w-100">
                <div class="w-50">Auto-bidding</div>
                <div class="w-50 d-flex justify-content-start align-items-center">
                    <label class="checkbox-custom" for="IsAutoBiddingEnabled">
                        <input type="checkbox" id="IsAutoBiddingEnabled" checked="@IsAutoBiddingEnabled" @onchange="@OnIsAutoBiddingEnabledChanged">
                        <span class="checkbox-custom-switch"></span>
                    </label>
                </div>
            </div>
            <div class="d-flex flex-row align-items-center w-100 mt-3">
                <label for="price" class="mt-2 w-70">Current top bid</label>
                <input @bind="@ItemModel.Price" type="number" step="1" class="form-control ml-2" id="price"/>
            </div>
            <div class="d-flex flex-row justify-content-center w-100 mt-2 mb-2">
                <button class="btn btn-primary uppercase w-100" type="button" @onclick="() => SubmitBid()">
                    Bid now
                </button>
            </div>
        </div>
    </div>
</div>


 <div class="table-custom settings card p-4 mb-2 mt-1">
          <div class="table-custom-header d-flex justify-content-between mt-1 ml-3">
              <h3>Bids history</h3>
              <div>Total balance: @UserSettings.MaximumBid, Available balance: @UserSettings.AvailableBid</div>
          </div>   
        <div class="table-custom-body">
            <table class="table" role="grid">
                <tr>
                    <th scope="col"  @onclick="() => OrderClick(nameof(AuctionBidDetailModel.UserName))">
                        User name
                        @if (OrderPropertyName.Equals(nameof(AuctionBidDetailModel.UserName)))
                        {
                            <i class="fas @(OrderByDesc ? "fa-long-arrow-alt-up" : "fa-long-arrow-alt-down")"></i>
                        }
                    </th>
                    <th scope="col"  @onclick="() => OrderClick(nameof(AuctionBidDetailModel.Bid))">
                        Bid
                        @if (OrderPropertyName.Equals(nameof(AuctionBidDetailModel.Bid)))
                        {
                            <i class="fas @(OrderByDesc ? "fa-long-arrow-alt-up" : "fa-long-arrow-alt-down")"></i>
                        }
                    </th>
                    <th scope="col" class="clickable-header" @onclick="() => OrderClick(nameof(AuctionBidDetailModel.Date))">
                        Date
                        @if (OrderPropertyName.Equals(nameof(AuctionBidDetailModel.Date)))
                        {
                            <i class="fas @(OrderByDesc ? "fa-long-arrow-alt-up" : "fa-long-arrow-alt-down")"></i>
                        }
                    </th>
                    <th scope="col" class="clickable-header" @onclick="() => OrderClick(nameof(AuctionBidDetailModel.Status))">
                        Status
                        @if (OrderPropertyName.Equals(nameof(AuctionBidDetailModel.Status)))
                        {
                            <i class="fas @(OrderByDesc ? "fa-long-arrow-alt-up" : "fa-long-arrow-alt-down")"></i>
                        }
                    </th>
                </tr>

                <tbody>
                @foreach (var item in BidsList)
                {
                    <tr class="c-pointer">
                        <td>@item.UserName</td>
                        <td>@item.Bid</td>
                        <td>@item.Date.ToString("M/dd/yyyy HH:mm")</td>
                        <td>@item.Status</td>
                    </tr>
                }
                </tbody>
            </table>
            @if (BidsList.Count == 0)
            {
                <div class="no-data d-block">
                    No items yet
                </div>
            }
      </div>
    </div>