﻿@page "/"
@using Bid.Domain.Models

<div class="content">
    <div class="d-flex flex-row justify-content-end align-items-center w-100">
        @if (!IsAdmin)
        {
            <a @onclick="@(() => OpenSettingModal())" class="btn btn-link py-0 text-secondary text-decoration-none btn-icon">
                <i class="la la-2x la-cog c-pointer"></i>
            </a>   
        }
        <a @onclick="@(() => Logout())" class="btn btn-link py-0 text-secondary text-decoration-none btn-icon">
            <i class="la la-2x la-sign-out-alt c-pointer"></i>
        </a>
    </div>

    <div class="main-list-items d-flex flex-column justify-content-start">
        <div class="content-header">
            <div class="header-func-section">
                <h2>Dashboard</h2>
            </div>
        </div>
        <div class="table-custom card p-5">
            <div class="table-custom-header d-flex justify-content-between">
                <h3>Items</h3>
                <div class="card-tools d-flex align-items-center action">
                  @if (IsAdmin)
                  {
                      <a @onclick="@(() => CreateItem())" class="btn btn-link py-0 text-secondary text-decoration-none btn-icon c-pointer">
                          <i class="la la-plus"></i>
                      </a>
                  }
                    <label class="input-group-search">
                        <input type="text" class="form-control border-none" placeholder="Search" @oninput="e => SearchChanged(e.Value.ToString())">
                        <button type="button" class="btn btn-link text-xl la la-search"></button>
                    </label>
                </div>
            </div>

            <div class="table-custom-body">
                <table class="table" role="grid">
                    <tr>
                        <th scope="col">Image</th>
                        <th scope="col"  @onclick="() => OrderClick(nameof(ItemBase.Name))">
                            Name
                            @if (OrderPropertyName.Equals(nameof(ItemBase.Name)))
                            {
                                <i class="fas @(OrderByDesc ? "fa-long-arrow-alt-up" : "fa-long-arrow-alt-down")"></i>
                            }
                        </th>
                        <th scope="col"  @onclick="() => OrderClick(nameof(ItemBase.Description))">
                            Description
                            @if (OrderPropertyName.Equals(nameof(ItemBase.Description)))
                            {
                                <i class="fas @(OrderByDesc ? "fa-long-arrow-alt-up" : "fa-long-arrow-alt-down")"></i>
                            }
                        </th>
                        <th scope="col" class="clickable-header" @onclick="() => OrderClick(nameof(ItemBase.Price))">
                            Price
                            @if (OrderPropertyName.Equals(nameof(ItemBase.Price)))
                            {
                                <i class="fas @(OrderByDesc ? "fa-long-arrow-alt-up" : "fa-long-arrow-alt-down")"></i>
                            }
                        </th>
                        <th scope="col" class="clickable-header" @onclick="() => OrderClick(nameof(ItemBase.StartedAt))">
                            Started at
                            @if (OrderPropertyName.Equals(nameof(ItemBase.StartedAt)))
                            {
                                <i class="fas @(OrderByDesc ? "fa-long-arrow-alt-up" : "fa-long-arrow-alt-down")"></i>
                            }
                        </th>
                        <th scope="col" class="clickable-header" @onclick="() => OrderClick(nameof(ItemBase.EndedAt))">
                            Ended at
                            @if (OrderPropertyName.Equals(nameof(ItemBase.EndedAt)))
                            {
                                <i class="fas @(OrderByDesc ? "fa-long-arrow-alt-up" : "fa-long-arrow-alt-down")"></i>
                            }
                        </th>
                        <th scope="col">Bid now</th>
                    </tr>

                    <tbody>
                    @foreach (var item in ItemsListPaged.GetPagedResult())
                    {
                        <tr class="c-pointer">
                            <td @onclick="@(() => {if (IsAdmin){EditItem(item);}else{GoToBid(item);} })">
                                <img src="/image/GetItemImageById/@item.Id" class="img-thumbnail" alt="Image"/>
                            </td>
                            <td @onclick="@(async () => {if (IsAdmin){EditItem(item);}else{await GoToBid(item);} })">@item.Name</td>
                            <td @onclick="@(async() => {if (IsAdmin){EditItem(item);}else{await GoToBid(item);} })">@item.Description</td>
                            <td @onclick="@(async() => {if (IsAdmin){EditItem(item);}else{await GoToBid(item);} })">@item.Price</td>
                            <td>@item.StartedAt.ToString("M/dd/yyyy HH:mm")</td>
                            <td>@item.EndedAt.ToString("M/dd/yyyy HH:mm")</td>
                            <td class="action">
                                 @if (IsAdmin)
                                 {
                                     <a @onclick="@(() => EditItem(item))" class="btn btn-link py-0 text-secondary text-decoration-none">
                                         <i class="las la-2x la-pen-fancy"></i>
                                     </a>
                                     
                                     <a @onclick="@(() => DeleteItem(item.Id))" class="btn btn-link py-0 text-secondary text-decoration-none">
                                         <i class="las la-2x la-trash-alt"></i>
                                     </a>
                                 }
                                 else
                                 {
                                     <a @onclick="@(() => GoToBid(item))" class="btn btn-link py-0 text-secondary text-decoration-none">
                                         <i class="las la-2x la-donate"></i>
                                     </a>
                                 }
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
                @if (ItemsListPaged.GetPagedResult().Count == 0)
                {
                    <div class="no-data d-block">
                        No items yet
                    </div>
                }
            </div>
        </div>

        <div class="card mt-5 table-custom-footer">
            <Pager PagedInfo=@ItemsListPaged PageChanged=@ItemsPageChanged IsShowLeftBlock="true" ChangePageSize="@ItemsSizeChanged"/>
        </div>

    </div>
</div>