@page "/Login"
@layout LoginLayout

<EditForm EditContext="EditContext" OnSubmit="TryLogin" class="login-container">
    <DataAnnotationsValidator/>
    <div class="login-header">
        Login
    </div>

    <div class="base-input-container long">
        <label class="base-input">
            <InputText name="email" @bind-Value=LoginModel.Email />
            <span>Login</span>
            <ValidationMessage For="() => LoginModel.Email"></ValidationMessage>
        </label>
    </div>
    <div class="base-input-container long">
        <label class="base-input">
            <input type="@(IsShowPassword ? "text" : "password")" name="password" @bind-value=LoginModel.Password />
            <span>Password</span>
            <ValidationMessage For="() => LoginModel.Password"></ValidationMessage>
            <span class="password-icon-container" @onclick="ChangePasswordVisibility" style="position: absolute; top: 28%;left: 88%; font-size: 75%;">
                <i class="la la-2x la-@(IsShowPassword ? "eye-slash" : "eye")"></i>
            </span>
        </label>
    </div>
    <div class="login-footer">
        <button type="submit" class="button button-primary long" >
            Sign in
        </button>
    </div>
</EditForm>